In [49]:
# Install MySql packages
# conda update -n base -c conda-forge conda --yes
# !pip install ipython-sql
# !pip install mysql-connector-python
# !conda install -c conda-forge python-dotenv --yes

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import mysql.connector
from mysql.connector import Error
from os import environ, path
from dotenv import load_dotenv

In [57]:
load_dotenv()
password = environ.get('PASSWORD')
host = environ.get('HOST')
database = environ.get('DATABASE')

## Connect to the database and create dataframes for each table

In [58]:
try:
    connection = mysql.connector.connect(host=host ,
                                        database=database,
                                        user='root',
                                        password=password)
    if connection.is_connected():
        print("Succes Connected")
    df_musician = pd.read_sql_query("SELECT * FROM music_and_death.musician;", connection)
    df_birth = pd.read_sql_query("SELECT * FROM music_and_death.birth;", connection)
    df_death = pd.read_sql_query("SELECT * FROM music_and_death.death;", connection)
    df_genre = pd.read_sql_query("SELECT * FROM music_and_death.music_genre;", connection)
    genre = pd.read_sql_query("SELECT * FROM music_and_death.genre;", connection)
    cause_death = pd.read_sql_query("SELECT * FROM music_and_death.cause_death;", connection)
    
except Error as e:
    print("Error closing connection")

# Concatenate tables
else:
    df = pd.concat([df_musician, df_death], axis=1)
    #new_df = df.drop(['musician_id', 'middle_name', 'death_id', 'death_date'], axis=1)
    
finally:
    connection.close()

Succes Connected

/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [59]:
df
#new_df

,musician_id,stage_name,middle_name,stage_lastname,death_id,musician_id,death_date,death_age
0,1,John,Winston,Lennon,1,1,1980-12-08,40
1,2,Kurt,Donald,Cobain,2,2,1994-04-05,27
2,3,Freddie,,Mercury,6,3,1991-11-24,45
3,4,Dimebag,Lance,Darrel,1,4,2004-12-08,38
4,5,Randy,William,Rhoads,5,5,1982-03-19,25
...,...,...,...,...,...,...,...,...
119,120,Danny,,Cedrone,17,120,1954-06-17,33
120,121,Hot,Lips,Page,7,121,1954-11-05,46
121,122,Dink,,Johnson,16,122,1954-11-29,62
122,123,Papa,,Celestin,16,123,1954-12-15,70
123,124,Johnny,,Ace,18,124,1954-12-15,25

In [54]:
df = pd.merge(df, df_cause, on=["death_id", "death_id"])
df = df.loc[:, ~df.columns.duplicated()].copy()
df = pd.merge(df, musician_genre, on=["musician_id"])
df = df.loc[:, ~df.columns.duplicated()].copy()
df = pd.merge(df, df_genre, on=["genre_id"])
df

,musician_id_x,stage_name,middle_name,stage_lastname,death_id,death_date,death_age,cause,genre_id,musician_id_y
0,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,1
1,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,2
2,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,3
3,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,6
4,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,7
...,...,...,...,...,...,...,...,...,...,...
4811,123,Papa,,Celestin,16,1954-12-15,70,not reported,9,21
4812,123,Papa,,Celestin,16,1954-12-15,70,not reported,9,113
4813,123,Papa,,Celestin,16,1954-12-15,70,not reported,9,121
4814,123,Papa,,Celestin,16,1954-12-15,70,not reported,9,122
4815,123,Papa,,Celestin,16,1954-12-15,70,not reported,9,123

In [55]:
df_2 = df.drop(['middle_name', 'death_id', 'death_date', 'musician_id', "death_date", "genre_id"], axis=1)

KeyError: "['musician_id'] not found in axis"

In [ ]:
df_2

In [ ]:
df_2['death_age'].mode()

In [ ]:
df_musician

In [ ]:
df_death