In [1]:
# Install MySql packages
# conda update -n base -c conda-forge conda --yes
# !pip install ipython-sql
# !pip install mysql-connector-python
# !conda install -c conda-forge python-dotenv --yes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import mysql.connector
from mysql.connector import Error
from os import environ, path
from dotenv import load_dotenv

In [2]:
load_dotenv()
password = environ.get('PASSWORD')
host = environ.get('HOST')
database = environ.get('DATABASE')

In [3]:
try:
    connection = mysql.connector.connect(host=host ,
                                        database=database,
                                        user='root',
                                        password=password)
    if connection.is_connected():
        print("Succes Connected")
        
except Error as e:
    print("Error closing connection")
    
finally:
    pass

Succes Connected

In [4]:

df_names = pd.read_sql_query("SELECT * FROM music_and_death.musician;", connection)
df_death = pd.read_sql_query("SELECT * FROM music_and_death.death;", connection)
df_cause = pd.read_sql_query("SELECT * FROM music_and_death.cause_death;", connection)
df_music = pd.read_sql_query("SELECT * FROM music_and_death.music;", connection)

/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/ivan/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
new_df = pd.concat([df_names, df_death], axis=1)
new_df.drop(['musician_id', 'middle_name', 'death_id', 'death_date'], axis=1, inplace=True)
new_df

       stage_name stage_lastname  death_age
0            John         Lennon         40
1            Kurt         Cobain         27
2         Freddie        Mercury         45
3         Dimebag         Darrel         38
4           Randy         Rhoads         25
..            ...            ...        ...
104         Sidhu           Wala         28
105       Trouble                        34
106  JayDaYoungan                        24
107          PnB            Rock         30
108       Takeoff                        28

[109 rows x 3 columns]