In [43]:
# Install MySql packages
# conda update -n base -c conda-forge conda --yes
# !pip install ipython-sql
# !pip install mysql-connector-python
# !conda install -c conda-forge python-dotenv --yes

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import mysql.connector
from mysql.connector import Error
from os import environ, path
from dotenv import load_dotenv

In [45]:
load_dotenv()
password = environ.get('PASSWORD')
host = environ.get('HOST')
database = environ.get('DATABASE')

In [46]:
try:
    connection = mysql.connector.connect(host=host ,
                                        database=database,
                                        user='root',
                                        password=password)
    if connection.is_connected():
        print("Succes Connected")
        
except Error as e:
    print("Error closing connection")
    
finally:
    pass

Succes Connected

In [47]:

df_names = pd.read_sql_query("SELECT * FROM music_and_death.musician;", connection)
df_death = pd.read_sql_query("SELECT * FROM music_and_death.death;", connection)
df_cause = pd.read_sql_query("SELECT * FROM music_and_death.cause_death;", connection)
df_genre = pd.read_sql_query("SELECT * FROM music_and_death.genre;", connection)
musician_genre = pd.read_sql_query("SELECT * FROM music_and_death.music_genre;", connection)

In [48]:
df = pd.concat([df_names, df_death], axis=1)
new_df = df.drop(['musician_id', 'middle_name', 'death_id', 'death_date'], axis=1)
new_df

       stage_name stage_lastname  death_age
0            John         Lennon         40
1            Kurt         Cobain         27
2         Freddie        Mercury         45
3         Dimebag         Darrel         38
4           Randy         Rhoads         25
..            ...            ...        ...
104         Sidhu           Wala         28
105       Trouble                        34
106  JayDaYoungan                        24
107          PnB            Rock         30
108       Takeoff                        28

[109 rows x 3 columns]

In [49]:
df = pd.merge(df, df_cause, on=["death_id", "death_id"])
df = df.loc[:, ~df.columns.duplicated()].copy()
df = pd.merge(df, musician_genre, on=["musician_id"])
df = df.loc[:, ~df.columns.duplicated()].copy()
df = pd.merge(df, df_genre, on=["genre_id"])
df

,musician_id,stage_name,middle_name,stage_lastname,death_id,death_date,death_age,cause,genre_id,genre
0,1,John,Winston,Lennon,1,1980-12-08,40,homicide,2,rock
1,2,Kurt,Donald,Cobain,2,1994-04-05,27,suicide,2,rock
2,3,Freddie,,Mercury,6,1991-11-24,45,AIDS,2,rock
3,6,Elvis,Aaron,Presley,7,1977-08-16,42,heart disease,2,rock
4,12,Jim,Douglas,Morrison,7,1971-07-03,27,heart disease,2,rock
5,7,Taylor,Taylor,Hawkins,3,2022-03-25,50,drug overdose,2,rock
6,8,Jimi,Marshall,Hendrix,8,1970-09-18,27,alcohol overdose,2,rock
7,13,Bon,Belford,Scott,8,1980-02-19,33,alcohol overdose,2,rock
8,14,John,Henry,Bonham,8,1980-09-25,32,alcohol overdose,2,rock
9,10,Jeff,Scott,Buckley,9,1997-05-29,30,drawning,2,rock
10,4,Dimebag,Lance,Darrel,1,2004-12-08,38,homicide,8,metal
11,5,Randy,William,Rhoads,5,1982-03-19,25,aircraft accident,8,metal
12,9,Cliff,Lee,Burton,4,1986-09-27,24,car accident,8,metal
13,15,John,John,Denver,5,1997-10-12,53,aircraft accident,5,country
14,11,Michael,Joseph,Jackson,3,2009-06-25,50,drug overdose,1,pop

In [51]:
df_2 = df.drop(['middle_name', 'death_id', 'death_date', 'musician_id', "death_date", "genre_id"], axis=1)

In [52]:
df_2

   stage_name stage_lastname  death_age              cause    genre
0        John         Lennon         40           homicide     rock
1        Kurt         Cobain         27            suicide     rock
2     Freddie        Mercury         45               AIDS     rock
3       Elvis        Presley         42      heart disease     rock
4         Jim       Morrison         27      heart disease     rock
5      Taylor        Hawkins         50      drug overdose     rock
6        Jimi        Hendrix         27   alcohol overdose     rock
7         Bon          Scott         33   alcohol overdose     rock
8        John         Bonham         32   alcohol overdose     rock
9        Jeff        Buckley         30           drawning     rock
10    Dimebag         Darrel         38           homicide    metal
11      Randy         Rhoads         25  aircraft accident    metal
12      Cliff         Burton         24       car accident    metal
13       John         Denver         53  aircraft accident  country
14    Michael        Jackson         50      drug overdose      pop